[Unit]
Description=ydgo

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/home/GoProjects/ydgo
ExecStart=/home/GoProjects/ydgo/main

[Install]
WantedBy=multi-user.target