[Unit]
Description=goweb

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/GoProjects/ydgo/main

[Install]
WantedBy=multi-user.target